In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('general_data.csv')
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
df.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
df = df.fillna(method='ffill')

In [8]:
df.isna().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [9]:
df = df.drop(columns = ['EmployeeID', 'EmployeeCount', 'Over18', 'StandardHours', ])

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
def encode(cols):
    lc = LabelEncoder()
    for col in cols:
        df[col] = lc.fit_transform(df[col])
ecol = ['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus']
encode(ecol)

In [16]:
x = df.drop(columns = ['Attrition'])
y = df.iloc[:,1]

In [18]:
import statsmodels.api as sm

In [19]:
co = sm.add_constant(x)
logi = sm.Logit(y, co)

In [20]:
pred = logi.fit()

Optimization terminated successfully.
         Current function value: 0.393154
         Iterations 7

In [21]:
pred.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4410
Model:                          Logit   Df Residuals:                     4390
Method:                           MLE   Df Model:                           19
Date:                Thu, 27 Aug 2020   Pseudo R-squ.:                  0.1099
Time:                        14:01:45   Log-Likelihood:                -1733.8
converged:                       True   LL-Null:                       -1947.9
Covariance Type:            nonrobust   LLR p-value:                 6.070e-79
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       0.0841      0.414      0.203      0.839      -0.727       0.895
Age                        -0.0313      0.007     -4.590      0.000      -0.045      -0.018
BusinessTravel             -0.0177      0.065     -0.270      0.787      -0.146       0.111
Department                 -0.2433      0.081     -2.993      0.003      -0.403      -0.084
DistanceFromHome           -0.0014      0.005     -0.261      0.794      -0.012       0.009
Education                  -0.0620      0.043     -1.456      0.145      -0.146       0.021
EducationField             -0.0962      0.033     -2.884      0.004      -0.162      -0.031
Gender                      0.0854      0.090      0.954      0.340      -0.090       0.261
JobLevel                   -0.0238      0.040     -0.602      0.547      -0.101       0.054
JobRole                     0.0377      0.018      2.110      0.035       0.003       0.073
MaritalStatus               0.5889      0.063      9.328      0.000       0.465       0.713
MonthlyIncome           -1.877e-06   9.56e-07     -1.964      0.050   -3.75e-06   -3.95e-09
NumCompaniesWorked          0.1147      0.018      6.273      0.000       0.079       0.150
PercentSalaryHike           0.0119      0.012      1.012      0.311      -0.011       0.035
StockOptionLevel           -0.0645      0.052     -1.249      0.212      -0.166       0.037
TotalWorkingYears          -0.0558      0.012     -4.731      0.000      -0.079      -0.033
TrainingTimesLastYear      -0.1463      0.035     -4.161      0.000      -0.215      -0.077
YearsAtCompany              0.0109      0.018      0.598      0.550      -0.025       0.047
YearsSinceLastPromotion     0.1322      0.020      6.462      0.000       0.092       0.172
YearsWithCurrManager       -0.1397      0.022     -6.319      0.000      -0.183      -0.096
===========================================================================================
"""

----------